* {
  background-color: #41B3A3;
  color: rgb(255, 255, 255);
}

.intro {
  padding-left: 30px;
  height: 100px;
}

.section {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}

.photo {
  flex: 1;
}

.text {
  flex: 2;
  padding: 30px;
}

button {
  height: 30px;
}

h3 {
  text-align: center;
}

#section2 {
  text-align: right;
}

#heathers {
  height: 400px;
}

img {
  width: 100%;
  height: 100%;
}